=getBoxShadow($shadow)
    -webkit-box-shadow: $shadow
    -moz-box-shadow: $shadow
    box-shadow: $shadow

=getBox($shadow , $padding , $borderRadius , $margin , $backgroundColor)
    +getBoxShadow($shadow)
    padding: $padding
    border-radius: $borderRadius
    margin: $margin
    background-color: $backgroundColor
    
=getButton($color)
    background-color: $color
    border: none
    color: white
    padding: 7px 7px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 15px
    margin-left: 10px
    border-radius: 10px
    cursor: pointer
    width: 90%

=getDescription($textAlign, $fontSize , $fontWeight)
    text-align: $textAlign
    font-size: $fontSize
    font-weight: $fontWeight
    font-family: $font_family