
@import './_variables'
@import './_mixins'

.container
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    +getBox(-3px 2px 17px -2px rgba(0,0,0,0.4) , 20px ,5px , 25px , $container_box_color)

.item-box
    width: 100px
    height: 150px
    +getBox(-3px 2px 17px -2px rgba(0,0,0,0.4) , 20px ,5px , 25px , $item_box_color)